
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    {% from 'bootstrap4/form.html' import render_field, render_hidden_errors %}
<div class="container">
<h1>Login</h1>
    <form method="POST" action='{{url_for("login")}}' novalidate>
        {{ form.csrf_token }}
        {{ render_hidden_errors(form) }}
        {{ render_field( form.email, class='myClass') }}
        {{ render_field(form.password, placeholder='Your Password') }}
        {{ render_field(form.submit) }}
        <!--        <p>-->
        <!--            {{ form.email.label }}-->
        <!--            <br/>-->
        <!--            {{ form.email(size=30) }}-->
        <!--            {% for err in form.email.errors %}-->
        <!--            <span style="color:red"> {{err}}</span>-->
        <!--            {% endfor %}-->
        <!--        </p>-->
        <!--        <p>-->

        <!--            {{ form.password.label }}-->
        <!--            <br/>-->
        <!--            {{ form.password(size=30) }}-->
        <!--            {% for err in form.password.errors %}-->
        <!--            <span style="color:red"> {{err}}</span>-->
        <!--            {% endfor %}-->
        <!--        </p>-->
        <!--        {{form.submit}}-->
    </form>
</div>
{% endblock %}
